body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background: #E5B3A8;
  padding: 20px;
  border-radius: 25px;
  width: 350px;
  box-shadow: 0 5 15px rgba(218, 214, 214, 0.3);
}

.display {
  background: #69605B;
  color: #fff;
  text-align: right;
  padding: 15px;
  font-size: 26px;
  border-radius: 20px;
  margin-bottom: 18px;
  font-weight: bold;
  min-height: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: #958357;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

button:hover {
  background: #B69B7E;
}

button.clear,
button.equals {
  background: #773232;
  color: #fff;
}
